body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

   /*  Polices, tailles et marges de h1 à h4  */
h1 {
    font-family: "Shrikhand", cursive;
    text-align: center;
    margin: 20px 0 auto;
  }
  
  h2 {
    font-family: "Shrikhand", cursive;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  h4, p {
    margin: 0;
  }

  /*  Caractéristiques du header  */
header {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

  .bouton_retour
  {margin-left: -100px;
  margin-top: 30px;
font-size: 1.6em;
color: #000;
}

  /*  Caractéristiques du footer  */
footer {
    position: relative;
    padding: 30px;
    color: #ffffff;
    background-color: #2c2c2c;
  }
  footer .footer-link {
    padding-left: 0;
    list-style-type: none;
    line-height: 25px;
    cursor: default;
  }
  footer .footer-link .item .icon {
    margin-right: 10px;
  }
  footer .footer-link .item a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .logo {
    width: 100px;
    filter: invert(100%);
  }

  /*  Caractéristiques de la partie main  */
main {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: whitesmoke;
  }

  /*  Partie main avec section concept  */
.concept {
    padding-bottom: 20px;
    background-color: whitesmoke;
    text-align: center;
  }
  
  .location {
    background-color: #f0f0f0;
  }
  
  .location .icon {
    padding: 15px 15px 15px 0;
  }
  
  .concept-title {
    padding: 0 40px;
  }
  
  .concept-description {
    padding: 0 30px;
  }
  
  .lighter {
    font-weight: lighter;
  }

  /*  Partie main avec section process  */
.process {
    padding: 10px;
    background-color: #fff;
  }
  
  .actions-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  
  .actions-list .item {
    position: relative;
    padding: 1em 0.7em;
    padding: 20px 13px 0 13px;
    margin: 20px 10px;
    height: 50px;
    text-align: left;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px gainsboro;
    
  }
  
  .actions-list .item:hover {
    background-color: rgba(147, 86, 220, 0.1);
    cursor: default;
  }
  
  .actions-list .item:hover .icon {
    color: #9356DC;
  }
  
  .actions-list .icon {
    margin: 0 25px;
    font-size: 20px;
    color: #646464;
  }
  
  .step {
    position: absolute;
    left: -10px;
    padding-top: 2px;
    width: 23px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
    background-color: #9356DC;
  }

  /*  Partie main avec section restaurants  */
.restaurants {
    padding: 15px;
    background-color: whitesmoke;
  }
  
  .photo {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .menu {
    position: relative;
    margin-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px gainsboro;
    background-color: #fff;
  }
  
  .menu a {
    color: #000;
    text-decoration: none;
  }
  
  .menu-titre {
    display: flex;
    flex-direction: column;
    margin: 10px 15px 0;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
  }

  /*  Partie main avec étiquette "Nouveau" sur photos (span class= promo)  */
.promo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    padding: 15px;
    color: #0c6b50;
    background: #99E2D0;
    border-radius: 3px;
    text-align: center;
  }

/*  Page principale section intro  */
.photopage {
  position: relative;
  width: 100%;
}

.intro {
  position: relative;
  background-color: whitesmoke;
}

.titreintro {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 40px 40px 0 0;
}

/*  Page principale section des menus  */
.title-underline {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}

.menupage {
  position: relative;
  margin: 0px 15px 30px 15px;
}

  /*  Caractéristiques du loader  */

.loading {
    background: #F6F6F6;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 500%;
    top: 0;
    left: 0;
    z-index: 2;
    transform-origin: top;
    transform: scale(0);
    animation: loaderAppaer 3s;
  }
  .loading__spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15rem;
  }
  .loading__spinner__title {
    font-family: Shrikhand;
    font-size: 3rem;
    padding-bottom: 3rem;
  }
  .loading__spinner__ball {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .loading__spinner__ball__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .loading__spinner__ball__item_primaryColor {
    background: #9356DC;
  }
  .loading__spinner__ball__item_secondaryColor {
    background: #FF79DA;
  }
  .loading__spinner__ball__item_tertiaryColor {
    background: #99e2d0;
  }
  .loading__spinner__ball__item:nth-child(1) {
    animation: rebound 0.4s alternate infinite;
  }
  .loading__spinner__ball__item:nth-child(2) {
    animation: rebound 0.4s 0.1s alternate infinite;
  }
  .loading__spinner__ball__item:nth-child(3) {
    animation: rebound 0.4s 0.2s alternate infinite;
  }
  .loading__spinner__icon {
    font-size: 2rem;
    padding-top: 3rem;
  }

  /* Mise en place des keyframes pour le loader */

  @keyframes loaderAppaer {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    60% {
      opacity: 1;
      transform: scale(1);
    }
    70% {
      opacity: 1;
      transform: scale(1);
    }
    90% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      transform: scale(0);
      display: none;
    }
  }
  @keyframes rebound {
    0% {
      transform: translate3d(0, 10px, 0);
    }
    100% {
      transform: translate3d(0, -20px, 0);
    }
  }

  /*  Boutons "Explorez nos restaurants" */
.btn {
    color: #ffffff;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    transition: opacity 1s;
  }
  
  .btn:hover {
    opacity: 0.5;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  }

  /*  Mise en place boutons "J'aime"  */
    
  .fa-heart:hover {
    animation: heartFilling 1s forwards;
  }

  .checkbox-like {
    position: absolute;
    right: 20px;
    bottom: 35px;
    height: 25px;
    font-size: 25px;
    cursor: pointer;
  }
  
  .checkbox-like.checkbox-like--position {
    position: initial;
    margin-top: 25px;
  }

  .checkbox-like input[type=checkbox]:checked ~ .unchecked {
    display: none;
  }
  
  .checkbox-like input[type=checkbox]:checked ~ .checked {
    display: inline-block;
    color: rgba(255, 255, 255, 0);
  }

  .checkbox-like input[type=checkbox], .checkbox-like .checked {
    display: none;
    -webkit-animation: like 2s;
            animation: like 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  
  @keyframes heartFilling {
    0% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 10%, white 0%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    20% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 20%, white 10%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    30% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 30%, white 20%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    40% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 40%, white 30%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    50% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 50%, white 40%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    60% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 60%, white 50%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    70% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 70%, white 60%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    80% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 80%, white 70%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    90% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 90%, white 80%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
    100% {
      background: linear-gradient(0deg, #FF79DA, #9356DC 100%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
    }
  }

  @-webkit-keyframes like {
    0% {
      opacity: 0;
    }
    50% {
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
    100% {
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
  }
  
  @keyframes like {
    0% {
      opacity: 0;
    }
    50% {
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      background: -o-linear-gradient(top, #9356DC, #FF79DA);
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
    100% {
      background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
      background: -o-linear-gradient(top, #9356DC, #FF79DA);
      background: linear-gradient(to bottom, #9356DC, #FF79DA);
      -webkit-background-clip: text;
    }
  }
  
  

  /*  Boutons plats  */
.ellipse {
  overflow: hidden;
 text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  margin: 20px 0 0 10px;
}

.title-sup {
  font-weight: normal;
}

.prix {
  padding: 38px 15px 0 15px;
  font-weight: bold;
}

.btn-dish {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px gainsboro;
  margin-top: 20px;
  height: 70px;
}

.box {
  overflow: hidden;
  text-align: center;
  background: #99E2D0;
  width: 0;
  align-items: center;
  transition: width 1s;
  padding-top: 25px;
}

.check {
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 25px;
  transform: rotate(360deg);
  transition: transform 500ms;
  
}

.btn-dish:hover .box {
  width: 70px;
}

.btn-dish:hover .box > .check {
transform: rotate(0deg);
}

  /* Boutons sélection  */
.up {
animation: fadein 1s;
}

.up--1 {
animation-delay: 50ms;
animation-fill-mode: forwards;
  opacity: 0;
}

.up--2 {
animation-delay: 150ms;
animation-fill-mode: forwards;
  opacity: 0;
}

.up--3 {
animation-delay: 300ms;
animation-fill-mode: forwards;
  opacity: 0;
}

.up--4 {
animation-delay: 450ms;
animation-fill-mode: forwards;
  opacity: 0;
}



@keyframes fadein {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

  /* Partie Responsive */
  /* Pour le body */

@media all and (min-width: 800px) {

    body {
		width: auto;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}

    .process, .restaurants, .intro, .menupage {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

  /*  Accueil  */
.actions-list {
    width: 730px;
}

.menu {
  width: 800px;
}

/* Pages  */
.intro, .menupage {
    width: 834px;
}

.container {
  align-items: center;
}

/*  Boutons pour sélection de plats  */
.btn-dish {
    width: 95%;
}
}

.title-dish {
    width: 95%;
  }

@media all and (max-width: 400px) {

.title-sup {
    font-size: 14px;
}
.menupage {
    margin: 0px 10px 30px 10px;
}
}