body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

   /*  Polices, tailles et marges de h1 à h4  */
h1 {
    font-family: "Shrikhand", cursive;
    text-align: center;
    margin: 20px 0 auto;
  }
  
  h2 {
    font-family: "Shrikhand", cursive;
    text-align: center;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  h4, p {
    margin: 0;
  }

  /*  Caractéristiques du header  */
header {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }